#divfix{
  bottom   : 0;
  right    : 0;
  position : fixed;
}

#intro1{
  
  color : green;
  font  : bolder;
}


#First_Cue{
  color : green;
  font  : bold;
}

#Second_Cue{
  color : orange;
  font  : bold;

}

#Third_Cue{
  color : red;
font  : bold;

}